page-login {
   
   
    ion-content  {
        background-size: cover;
        
    }

    p {
        font-size: 0.8em;
        color: #ffffff;
    }

    
    ion-label, .select-text {
        margin-left: 10px;
    }



    .invalid {
        border: 1px solid #ea6153;
    }

    .list{
        
        border-top-right-radius: 10px !important;
        border-top-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }

    .Com1
    {
        position: relative;
        text-align: center;
        
    }

    .Com2
    {
        
        position: relative;
        text-align: center;
    
        

        border-top-right-radius: 5px !important;
        border-top-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;

    
      
    }
    h1{
       
       
        font-size: 18px;
      
        color: #ffffff;
    }
   h2{
        
       
        font-size: 10px;
       
        color: #ffffff;
   }

   img{
       
        margin-top: 15%;
        width: 60px;

    }
    table{
        
        background-color: #ffffff;
        align-items: center;
        text-align: center;
        
        
    }

    button{
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        margin: 0px;
        
    
    }

    .login {
        margin-top: 10px;
        text-align: center;
        border: none;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        transition: all 0.3s ease-in-out;
        width: 40%;
        height: 45px;
        color: #ffffff;

        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-bottom-left-radius: 20px !important;

        -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.103);
        box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.103);
    }
    .signup {
        
        margin-top: 10px;
        text-align: center;
        border: 10px;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        transition: all 0.3s ease-in-out;
        width: 40%;
        height: 45px;
        color: #1a62ce;

        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        
    }
    
    
        
    input[type=text] , input[type=password]{
        
        background-color: #F2F2F2;
        border:none;
        color: #535353;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        width:80%;
        border: 2px sold #f6f6f6;
        transition: all 0.5s ease-in-out;
        height: 40px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;

        border-top-right-radius: 5px !important;
        border-top-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;


    }


}

