<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content   padding style="background-image: url('assets/imgs/Full1.png')" >

   <div class="div1"ion-fixed>
    <br>
    <h1>Register</h1>
    <br>
  </div> 
  
  <div class="fixScroll" ion-fixed>
    <ion-list class="lista">
  
      <form [formGroup]="slideTwoForm">
  
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input
            [class.invalid]="!slideTwoForm.controls.username.valid && (slideTwoForm.controls.username.dirty || submitAttempt)"
            formControlName="username" type="text"></ion-input>
        </ion-item>
  
        <ion-item *ngIf="slideTwoForm.controls.username.pending">
          <p>Checking username...</p>
        </ion-item>
  
        <ion-item
          *ngIf="!slideTwoForm.controls.username.valid && !slideTwoForm.controls.username.pending && (slideTwoForm.controls.username.dirty || submitAttempt)">
          <p>Sorry, that username can not be used!</p>
        </ion-item>
  
        <ion-item>
          <ion-label floating>First Name</ion-label>
          <ion-input
            [class.invalid]="!slideTwoForm.controls.firstName.valid && (slideTwoForm.controls.firstName.dirty || submitAttempt)"
            formControlName="firstName" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input
            [class.invalid]="!slideTwoForm.controls.lastName.valid && (slideTwoForm.controls.lastName.dirty || submitAttempt)"
            formControlName="lastName" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input formControlName="password" type="Password"
            [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)">
          </ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Enter Password again</ion-label>
          <ion-input formControlName="password" type="Password"
            [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)">
          </ion-input>
        </ion-item>
  
      </form>
  
    </ion-list>
    
    <div class="Register"> 
    <button color="blue" ion-button class="register" (click)='save()'>  Register  </button>
    <br><br>
  </div>

  
  </div>
  
  <!--
<div class="inform">
    <br><br>

    <ion-icon name="mail"></ion-icon>  Email  <br> <input type="email" placeholder=""> <br>
    <ion-icon name="person"></ion-icon> Username<br><input type="text" placeholder="" > <br>
    <ion-icon name="lock"></ion-icon> Password<br> <input type="password" placeholder="">  <br>
    <ion-icon name="school"></ion-icon> University <br><input type="text" placeholder="">  <br>
    
    
  </div>

  <br><br>

  -->
  
  
  
</ion-content>