page-quiz {

    ion-slide{
        background-size: cover;
    }
    
    .QuesDes{
        
        position: relative;
        text-align: left;
        padding-bottom: 20px; 
        height: 60px;
        font-size: 20px;
    
    }
    .List{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    ion-card{
        height: 400px;
    }
    .card1{
        -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.103);
        box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.103);
    }
    h2{
        font-size: 18px;
        color: white;
    }
}