page-quiz {

  ion-slide {
    background-size: cover;
  }

  b {
      font-size: 18px;
  }

  .QuesDes {

    position: relative;
    text-align: left;
    //padding-bottom: 20px;
    height: 120px;
    font-size: 20px;

    width: 100%;
    word-break: normal;
    white-space: pre-line !important;

  }
  .frame{
    color:#f78710;
    background-color: #f78710;
    height: 80%;

  }

  .time
  {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #4e42f3;
    position: relative;
    text-align: center;
    width: 150px;
    height: 40px;

    -webkit-box-shadow: 0 10px 30px 0 rgba(8, 24, 5, 0.342);
    box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.103);

    border-top-right-radius: 150px !important;
    border-top-left-radius: 150px !important;
    border-bottom-right-radius: 150px !important;
    border-bottom-left-radius: 150px !important;
    

  }
  .texttime{
    padding-top:9px;
  }
  .circle{
    margin-left: auto;
    margin-right: auto;
    display: block;

    position: relative;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 20px;
    
    background-color: #f78710;
    align-items: center;
  


    -webkit-box-shadow: 0 10px 30px 0 rgba(8, 24, 5, 0.342);
    box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.103);

    border-top-right-radius: 150px !important;
    border-top-left-radius: 150px !important;
    border-bottom-right-radius: 150px !important;
    border-bottom-left-radius: 150px !important;
  }

  .List {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  ion-card {
    height: 400px;
  }

  .card1 {
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.103);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.103);
  }

  h1 {
    font-size: 18px;
    color: #ffffff;
    position: relative;
    text-align: center;
  }


  h2 {
    font-size: 18px;
    color: white;
  }

  h5{
    font-size: 18px;
    color: white;

  }
  h6{
    font-size: 18px;
    color:#ffffff;

  }

  #Butt0 {
    background-color: white;
  }

  #Butt1 {
    background-color: white;
  }

  #Butt2 {
    background-color: white;
  }

  #Butt3 {
    background-color: white;
  }

  .Finish {
        
    margin-top: 10px;
    text-align: center;
    border: 10px;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    width: 40%;
    height: 45px;
    color: #f78710;

    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;

    -webkit-box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.123);
    box-shadow: 0 0px 30px 0  rgba(0, 0, 0, 0.185);
    
}

}