page-noti {

    

    h1{
        font-size: 16px !important;
        color: #000000;
    }

    h2{
        font-size: 16px!important;
        color: #666666;
    }
    h3{
        font-size: 14px!important;
        color: #f78710;
    }


}