<!--
  Generated template for the RankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding style="background-image: url('assets/imgs/Full1.png')">

  <ng-container *ngIf="!RankName;then Loading; else Loaded">
    <ng-template #Loading>
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </ng-template>
    <ng-template>
      <div class="word">
        <h3>Hoorey! </h3>

      </div>
      <br>
      <div class="score" padding>
        <h4>{{ScoreCount}} / {{NOOfQues}} </h4>
      </div>
      <br>
      <h2 class="yourscore">Your score is</h2>
      <h2 class="yourscore">{{ShowScore}}</h2>
      <br>
      <ion-card>

        <ion-card-header>
          Your rank
        </ion-card-header>

        <ion-card-content>
          <ng-container *ngIf="!RankName[0];then BlankScore; else Score">
            <ng-template #BlankScore>
              <div class="ranking" padding>
                <h1>1.---- </h1>
              </div>
            </ng-template>
            <ng-template #Score>
              <div class="me" padding>
                <h5>1.{{RankName[0]}} </h5>
              </div>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="!RankName[1];then BlankScore; else Score">
            <ng-template #BlankScore>
              <div class="ranking" padding>
                <h1>2.---- </h1>
              </div>
            </ng-template>
            <ng-template #Score>
              <div class="me" padding>
                <h5>2.{{RankName[1]}} </h5>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="!RankName[2];then BlankScore; else Score">
            <ng-template #BlankScore>
              <div class="ranking" padding>
                <h1>3.---- </h1>
              </div>
            </ng-template>
            <ng-template #Score>
              <div class="me" padding>
                <h5>3.{{RankName[2]}} </h5>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="!RankName[3];then BlankScore; else Score">
            <ng-template #BlankScore>
              <div class="ranking" padding>
                <h1>4.---- </h1>
              </div>
            </ng-template>
            <ng-template #Score>
              <div class="me" padding>
                <h5>4.{{RankName[3]}} </h5>
              </div>
            </ng-template>
          </ng-container>

        </ion-card-content>

      </ion-card>
      <div class="gotofb">
        <button color="light" ion-button class="Feedback" (click)='ToPageCard()'> Get Card </button> <br>
        <button color="light" ion-button class="Feedback" (click)='clickhome()'> Home </button> <br>
      </div>
    </ng-template>
  </ng-container>




</ion-content>
