page-rank {

    .word{
        position: relative;
        text-align: center;
        
    }
    .score
    {   height:70px;
        -webkit-box-shadow: 0 10px 30px 0 rgb(255, 255, 255);
        box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.247);
        position: relative;
        text-align: center;
        background-color: #0068B7;
        border-top-right-radius: 30px !important;
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important; 
        border-bottom-right-radius: 30px !important;

        
    }
    h1{
        font-size: 20px !important; 
        color: #f78710 !important;
        
    }
    h2{
        font-size: 20px;
        color: #ffffff;
    }
    h3{
        font-size: 50px;
        color: #ffffff;
    }
    h4{
        font-size: 40px;
        color: #ffffff;
    }
    h5{
        font-size: 20px !important; 
        color:  #ffffff !important;
    }
    .gotofb
    {
        
        position: relative;
        text-align: center;
    }
    .Feedback
    {
        height: 45px;
        -webkit-box-shadow: 0 10px 30px 0 rgb(255, 255, 255);
        box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.247);
        color: #0068B7  !important;
        width: 50%;
        border-top-right-radius: 50px !important;
        border-top-left-radius: 50px !important;
        border-bottom-left-radius: 50px !important; 
        border-bottom-right-radius: 50px !important; 
    }
    .ranking
    {
        font-size: 20px;
    }
    
    
    .me
    {
        -webkit-box-shadow: 0 10px 30px 0 rgb(255, 255, 255);
        box-shadow: 0 10px 30px 0  rgba(0, 0, 0, 0.247);

        background-color: #0068B7;
        

    }

    

   
}
