page-summarytable {

  ion-content {
    background-size: cover;
    position: relative;
    text-align: center;


  }


  .toolbar-background {
    background-color: #f78710;
  }

  p {
    font-size: 16px;
    color: #ffffff;
  }

  .GridButt {
    position: relative;
    text-align: center;
    border-top: 20%;
  }

  .Butt {
    width: 70%;
    background-color: #f78710;

  }
}
