page-storage {

    ion-content   {
        background-size: cover;
        
    }

    .storage{
        margin-top: 10px;
        text-align: center;
  
    
        font-size: 20px;
        
    
     
        width: 100%;
    
        color: #ffffff;
    }


}
