page-storage {

    ion-content   {
        background-size: cover;
        
    }

    .storage{
        margin-top: 10px;
        text-align: center;
        margin-bottom: 18px;
    
        font-size: 20px;
        
    
     
        width: 100%;
    
        color: #ffffff;
    }

    .Card
    {
        align-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    ion-header{
        margin-bottom: 100px;
        border-bottom: 0px;
    }

    

}
